@import views.html.utils._sk], tasks: List[Task])

@import utils._

@main("WATWAT") {
	<h1>@tasks.size task(s)</h1>


	@for(t <- tasks) {
		@task(t)
	}

	@helper.form(routes.TaskController.addTask()) {

		@if(form.hasGlobalErrors) {
			<p class="error">
			@form.globalError
			</p>
		}

		@if(form.hasErrors) {
			<ul class="error">
			@for(error <- form.errors) {
				<li>@error.toString()</li>
				
			}
			</ul>
		}

		<p>
			<input type="text" name="description" placeholder="Description" value="@form("description").value" autocomplete="off">
		</p>
		<p>
			<button type="submit">Add</button>
		</p>
	}
}
