@(form: Form[Task], tasks: List[Task])

@main("WATWAT") {
    <h1>@tasks.size task(s)</h1>

    @helper.form(routes.TaskController.addTask()) {

        @if(form.hasGlobalErrors) {
            <p class="error">
            @form.globalError
            </p>
        }

        <p>
            <input type="text" name="description" placeholder="Description" value="@form("description").value" autocomplete="off">
        </p>
        <p>
            <button type="submit">Add</button>
        </p>
    }
}
