@(form: Form[Task], tasks: List[Task])

@import utils._

@main("TODO") {
	<section class="task-form">
		<h2>Add new task</h2>
	@helper.form(routes.TaskController.addTask(), 'class -> "pure-form") {

		@if(form.hasGlobalErrors) {
			<p class="error">
			@form.globalError
			</p>
		}

		@if(form.hasErrors) {
			<ul class="error">
			@for(error <- form.errors) {
				<li>@error.toString()</li>
			}
			</ul>
		}

		<p>
			<input type="text" name="description" placeholder="Description" value="@form("description").value" autocomplete="off">
		</p>
		<p>
			<button type="submit" class="pure-button pure-button-primary">Add</button>
		</p>
	}
	</section>

	<section class="task-list">
		<h2>@tasks.size task(s)</h2>

		@for(t <- tasks) {
			@taskListItem(t)
		}
	</section>
}
